.container_filter {
  width: 100%;
  background: lightblue;
  background: linear-gradient(
    90deg,
    lightblue 0%,
    whitesmoke 50%,
    lightblue 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.Filter {
  display: flex;
  gap: 15px;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center center;
  background-size: cover;
  color: #fff;
}

.input_text {
  width: 90px;
  height: 30px;
}

.input_button {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 0;
}

.input_button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .input_button {
    padding: 10px 30px;
  }
}

@media (max-width: 768px) {
  .Filter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
  }

  .container_filter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    height: 100px;
  }
}
