.Button {
  background: blueviolet;
  border: 1px solid;
  border-radius: 10%;
  color: whitesmoke;
  cursor: pointer;
  padding: 10px 5px;
}

.Button:hover {
  text-decoration: none;
}

.Button--variant-primary {
  background: goldenrod;
  color: whitesmoke;
}
