.Friend {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.Friend img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0 0 2px rgba(11, 7, 7, 0.4);
  background-color: lightblue;
  opacity: 0.8;
}

.Friend img:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Friend__text {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(132, 200, 223);
}

.Friend__text h4 {
  display: none;
}

@media (min-width: 800px) {
  .Friend img {
    width: 75px;
    height: 75px;
  }

  .Friend__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
