html,
body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.wrapper-calc {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.wrapper-oper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  gap: 10px;
  border: 2px solid blue;
  border-radius: 15px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  background-color: bisque;
}

form {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input {
  padding: 20px;
  border: 2px solid blue;
  outline-color: blue;
}

label {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.btn-sum,
.btn-sub {
  padding: 10px 20px;
  border: 1px solid blue;
  background-color: blue;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.btn-sum,
.btn-sub:hover {
  cursor: pointer;
  opacity: 0.5;
}

button {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

button:hover {
  cursor: pointer;
}

h6 {
  text-decoration: underline;
}

h6:hover {
  cursor: pointer;
}
