.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  height: 100vh;
  gap: 20px;
  background-color: rgb(228, 217, 202);
}
