.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  color: black;
  padding: 10px 40px;
  width: 100%;

  ul {
    list-style-type: none;
    display: flex;
    gap: 230px;
    font-size: 18px;
  }
}
