.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: rgb(61, 182, 222);
  overflow: visible;
}

.btn {
  width: 70px;
  height: 70px;
  background: red;
  border: 1px solid red;
  border-radius: 10%;
  font-size: 1.4rem;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.5);
}

.text {
  color: whitesmoke;
  font-size: 1.6rem;
}
