body {
  margin: 0;
  position: relative;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

ul {
  color: blue;
  border: 2px solid yellow;
  border-radius: 20px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: whitesmoke;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}
.pkm_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 450px;
  border-radius: 16px;
  padding: 20px 40px;
  border: 2px solid whitesmoke;
}

.img_pokemon {
  background-color: whitesmoke;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border: 2px solid grey;
}
