body {
  margin: 0;
  background: #e52d27;
  background: -webkit-linear-gradient(to right, #b31217, #e52d27);
  background: linear-gradient(to right, #b31217, #e52d27);
  color: white;
  font-family: fantasy;
  height: 100vh;
}
