.FriendsList {
  padding: 8px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: scroll;
  width: 100vw;
}

@media (min-width: 800px) {
  .FriendsList {
    flex-direction: column;
    gap: 30px;
    width: auto;
  }
}
