.FriendModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
  padding-top: 20px;
}

.FriendModal img {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100%;
  background-color: lightblue;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  opacity: 0.8;
}

.FriendModal img:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.FriendModal h5 {
  color: rgb(104, 104, 230);
}
