html,
body {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 18px;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(243, 232, 175);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: space-between;
}
.navbar {
  position: fixed;
  width: 100%;
  margin: auto;
  padding: 25px 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 1;
}

.btn {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 20px;
  background-color: gold;
  text-decoration-color: bisque;
}

button:hover {
  cursor: pointer;
  text-decoration: dotted;
  filter: drop-shadow(0.8);
  transform: scale(0.9);
  transition: all 0.7s;
  object-fit: cover;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  padding: 10px;
  gap: 50px;
}
a {
  color: gold;
  font-style: oblique;
  font-weight: bold;
  text-decoration: wavy;
  font-size: 1 rem;
}

a:hover {
  color: white;
  text-decoration: none;
}

.hero {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  padding-top: 200px;
  padding-bottom: 150px;
  width: 100%;
}

.hero h1 {
  color: black;
}
.play {
  display: flex;
  width: 100px;
  height: 100px;
  border: 2px solid gold;
  border-radius: 15px;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
  background-color: whitesmoke;
  cursor: pointer;
  filter: drop-shadow(0.8);
  transform: scale(0.9);
  transition: all 0.7s;
  object-fit: cover;
}
h1,
h5,
h2,
h3,
p {
  font-family: cursive;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 20px;
}
.text_card {
  color: black;
  margin: auto;
  font-weight: 500;
  text-align: center;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card img {
  width: 100px;
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.gk_card,
.df_card,
.mid_card,
.forw_card {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.hr_card {
  border-radius: 10px;
  border-bottom: 3px bold black;
  width: 700px;
}

.image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background-color: gold;
  cursor: pointer;
  filter: drop-shadow(0.8);
  transform: scale(0.9);
  transition: all 0.5s;
  object-fit: cover;
}
img:hover {
  cursor: pointer;
  filter: drop-shadow(0);
  transform: scale(1);
}

p {
  border: 2px black solid;
  border-radius: 20px;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
}

.pre_footer {
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  padding: 50px 50px;
}

.img_footer {
  border-radius: 20px;
  box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.3);
}

.footers {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: left;
  background-color: black;
}
.footers h6,
h1 {
  color: whitesmoke;
}

.fifa {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .hero {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
  }
  .hero img h5 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: auto;
  }
  .hero h5 {
    text-align: left;
  }
  .dftext_card,
  .gktext_card,
  .midtext_card,
  .forwtext_card {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  .hr_card {
    border-radius: 5px;
    border-bottom: 2px bold gold;
    width: 300px;
  }
}
