.NewMessage form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: whitesmoke;
  padding: 15px 15px;
  border-radius: 10px;
}

.NewMessage input {
  padding: 4px 2px 2px 10px;
  height: 40px;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 0 3px (0, 0, 0, 0.4);
  background-color: rgb(224, 237, 242);
}

.NewMessage {
  margin: 25px;
  width: 300px;
}

.button_form {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: gray;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button_form:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.button_form:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button_form {
    padding: 16px 48px;
  }
}
